@model Web02LojadeJogos.Models.Jogo 
@{
    ViewBag.Title = "Cadastrar Cliente";
}

@using (Html.BeginForm("Cadastrar", "Jogo", FormMethod.Post))
{
    @Html.ValidationSummary(true)
<fieldset style="margin-top: 20px;">
    <legend>Cadastrar Jogo</legend>

    <!-- Input Nome -->
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.JogoNome)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.JogoNome)
        @Html.ValidationMessageFor(model => model.JogoNome)
    </div>

    <!-- Input Versao -->
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.JogoVersao)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.JogoVersao)
        @Html.ValidationMessageFor(model => model.JogoVersao)
    </div>

    <!-- Input Desenvolvedora -->
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.JogoDesenvolvedora)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.JogoDesenvolvedora)
        @Html.ValidationMessageFor(model => model.JogoDesenvolvedora)
    </div>

    <!-- Input Genero -->
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.JogoGenero)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.JogoGenero)
        @Html.ValidationMessageFor(model => model.JogoGenero)
    </div>

    <!-- Input FaixaEtaria -->
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.JogoFaixaEtaria)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.JogoFaixaEtaria)
        @Html.ValidationMessageFor(model => model.JogoFaixaEtaria)
    </div>

    <!-- Input Plataforma -->
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.JogoPlataforma)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.JogoPlataforma)
        @Html.ValidationMessageFor(model => model.JogoPlataforma)
    </div>

    <!-- Input AnoLancamento -->
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.JogoAnoLancamento)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.JogoAnoLancamento)
        @Html.ValidationMessageFor(model => model.JogoAnoLancamento)
    </div>

    <!-- Input Sinopse -->
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.JogoSinopse)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.JogoSinopse)
        @Html.ValidationMessageFor(model => model.JogoSinopse)
    </div>

    <br />
    <input type="submit" value="Cadastrar" />
    <br />
    <br />

    <p>@Html.ActionLink("Jogos Cadastrados", "Listar")</p>
</fieldset>
}
