@model IEnumerable<Web02LojadeJogos.Models.Jogo>
@{
    ViewBag.Title = "Listar Jogos";
}

<br />
<p>@Html.ActionLink("Cadastrar novo Jogo", "Cadastrar")</p>

<h3 style="font-size: 21px;">Clientes Cadastrados</h3>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.JogoNome)</th>
        <th>@Html.DisplayNameFor(model => model.JogoVersao)</th>
        <th>@Html.DisplayNameFor(model => model.JogoDesenvolvedora)</th>
        <th>@Html.DisplayNameFor(model => model.JogoGenero)</th>
        <th>@Html.DisplayNameFor(model => model.JogoFaixaEtaria)</th>
        <th>@Html.DisplayNameFor(model => model.JogoPlataforma)</th>
        <th>@Html.DisplayNameFor(model => model.JogoAnoLancamento)</th>
        <th>@Html.DisplayNameFor(model => model.JogoSinopse)</th>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => item.JogoNome)</td>
        <td>@Html.DisplayFor(modelItem => item.JogoVersao)</td>
        <td>@Html.DisplayFor(modelItem => item.JogoDesenvolvedora)</td>
        <td>@Html.DisplayFor(modelItem => item.JogoGenero)</td>
        <td>@Html.DisplayFor(modelItem => item.JogoFaixaEtaria)</td>
        <td>@Html.DisplayFor(modelItem => item.JogoPlataforma)</td>
        <td>@Html.DisplayFor(modelItem => item.JogoAnoLancamento)</td>
        <td>@Html.DisplayFor(modelItem => item.JogoSinopse)</td>
        <td>@Html.ActionLink("Alterar", "AltCliente", null, new { cpfCliente = item.JogoCod }, new { @class = "btn btn-primary btn-xs" })</td>
        <td>@Html.ActionLink("Deletar", "DelCliente", null, new { cpfCliente = item.JogoCod }, new { @class = "btn btn-danger btn-xs" })</td>
    </tr>
}
</table>