@model Web02LojadeJogos.Models.Cliente
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset style="margin-top: 20px;">
        <legend>Cadastrar Cliente</legend>

        <!-- Input Nome -->
        <div class="editor-label">
            @Html.DisplayNameFor(model => model.CliNome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CliNome)
            @Html.ValidationMessageFor(model => model.CliNome)
        </div>

        <!-- Input Cpf -->
        <div class="editor-label">
            @Html.DisplayNameFor(model => model.CliCpf)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CliCpf)
            @Html.ValidationMessageFor(model => model.CliCpf)
        </div>

        <!-- Input Nasc -->
        <div class="editor-label">
            @Html.DisplayNameFor(model => model.CliNasc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CliNasc)
            @Html.ValidationMessageFor(model => model.CliNasc)
        </div>

        <!-- Input Email -->
        <div class="editor-label">
            @Html.DisplayNameFor(model => model.CliEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CliEmail)
            @Html.ValidationMessageFor(model => model.CliEmail)
        </div>

        <!-- Input Celular -->
        <div class="editor-label">
            @Html.DisplayNameFor(model => model.CliCelular)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CliCelular)
            @Html.ValidationMessageFor(model => model.CliCelular)
        </div>

        <!-- Input Endereco -->
        <div class="editor-label">
            @Html.DisplayNameFor(model => model.CliEndereco)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CliEndereco)
            @Html.ValidationMessageFor(model => model.CliEndereco)
        </div>

        <br />
        <input type="submit" value="Cadastrar" />
    </fieldset>
}
