@model IEnumerable<Web02LojadeJogos.Models.Funcionario>
@{
    ViewBag.Title = "Listar Funcionários";
}

<br />
<p>@Html.ActionLink("Cadastrar novo Funcionario", "Cadastrar")</p>

<h3 style="font-size: 21px;">Funcionários Cadastrados</h3>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.FuncNome)</th>
        <th>@Html.DisplayNameFor(model => model.FuncCpf)</th>
        <th>@Html.DisplayNameFor(model => model.FuncRg)</th>
        <th>@Html.DisplayNameFor(model => model.FuncNasc)</th>
        <th>@Html.DisplayNameFor(model => model.FuncEndereco)</th>
        <th>@Html.DisplayNameFor(model => model.FuncCelular)</th>
        <th>@Html.DisplayNameFor(model => model.FuncEmail)</th>
        <th>@Html.DisplayNameFor(model => model.FuncCargo)</th>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => item.FuncNome)</td>
        <td>@Html.DisplayFor(modelItem => item.FuncCpf)</td>
        <td>@Html.DisplayFor(modelItem => item.FuncRg)</td>
        <td>@Html.DisplayFor(modelItem => item.FuncNasc)</td>
        <td>@Html.DisplayFor(modelItem => item.FuncEndereco)</td>
        <td>@Html.DisplayFor(modelItem => item.FuncCelular)</td>
        <td>@Html.DisplayFor(modelItem => item.FuncEmail)</td>
        <td>@Html.DisplayFor(modelItem => item.FuncCargo)</td>
        <td>@Html.ActionLink("Alterar", "AltFuncionario", null, new { cpfCliente = item.FuncCod }, new { @class = "btn btn-primary btn-xs" })</td>
        <td>@Html.ActionLink("Deletar", "DelFuncionario", null, new { cpfCliente = item.FuncCod }, new { @class = "btn btn-danger btn-xs" })</td>
    </tr>
}
</table>
